<!DOCTYPE html>
<html lang="zh">

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?bc04990a72f1dd0b20287368c447790d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页-Family族谱系统{% endblock title %}</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="Family族谱系统">
    <meta name="description" content="Family族谱系统">
    <meta name="author" content="dcsf">
    {% block head_list %}

    {% endblock head_list %}
</head>
<body class="lyear-layout-sidebar-close">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">
            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="/index/">
                    <h4 class="h4 text-primary">Family族谱管理系统</h4>
                </a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active"><a href="/index/"><i class="mdi mdi-home"></i> 族谱树</a></li>
                        {% for k, v in menu_list.items %}
                            {% if k == 'member_mgr' %}
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="javascript:void(0)"><i class="mdi mdi-account"></i> 成员管理</a>
                                    <ul class="nav nav-subnav">
                                        {% if v|length == 1 %}
                                            <li><a href="/list/">{{ v.0 }}</a></li>
                                        {% elif v|length == 2 %}
                                            <li><a href="/list/">{{ v.0 }}</a></li>
                                            <li><a href="/member_add/">{{ v.1 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if k == 'group_mgr' %}
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="javascript:void(0)"><i class="mdi mdi-account-multiple"></i> 分组管理</a>
                                    <ul class="nav nav-subnav">
                                        {% if v|length == 1 %}
                                            <li><a href="/group_list/">{{ v.0 }}</a></li>
                                        {% elif v|length == 2 %}
                                            <li><a href="/group_list/">{{ v.0 }}</a></li>
                                            <li><a href="/group_add/">{{ v.1 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">
            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> {% block current_title %}首页{% endblock current_title %} </span>

                        {% block index_select %}
                            <div class="clearfix">
                                <form class="form-inline pull-right" action="/index/" method="get">
                                    <div class="form-group">
                                        <select class="form-control selectpicker" name="id"
                                                data-live-search="true">
                                            <option value="{{ group_.id }}">{{ group_.name }}</option>
                                            {% for group in group_list %}
                                                {% if group.id != group_.id %}
                                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default" type="submit">查询</button>
                                    </div>
                                </form>
                            </div>
                        {% endblock index_select %}
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <span>{{ user.username }} <span
                                        class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/logout/"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--End 头部信息-->

        {% block content %}{% endblock content %}
    </div>
</div>
{% block script_http %}{% endblock script_http %}
{% block _javascript %}{% endblock _javascript %}

</body>
</html>