{% extends 'base.html' %}

{% block title %}分组修改-Family族谱系统{% endblock title %}

{% block head_list %}
    <link href="https://pan.zealsay.com/family/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select\@1.13.9/dist/css/bootstrap-select.min.css">
    <link href="https://pan.zealsay.com/family/static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://pan.zealsay.com/family/static/css/style.min.css" rel="stylesheet">
{% endblock head_list %}

{% block current_title %}分组信息修改页{% endblock current_title %}
{% block index_select %}{% endblock index_select %}

{% block content %}
    <!--页面主要内容-->
    <main class="lyear-layout-content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>节点信息录入</h4>
                        </div>
                        <div class="card-body">

                            <form class="form-horizontal" action="/group_edit/" method="post">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="id">id<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input class="form-control" readonly type="text" id="id" name="id"
                                               value="{{ group.id }}"
                                               placeholder="节点号">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">名称<span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input class="form-control" required="required" type="text" id="name"
                                               name="name"
                                               value="{{ group.name }}"
                                               placeholder="请输入节点名称..">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="introduction">备注</label>
                                    <div class="col-md-7">
                        <textarea class="form-control" id="introduction" name="introduction"
                                  placeholder="请输入备注">{{ group.remark }}</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <!--End 页面主要内容-->
{% endblock content %}

{% block script_http %}
    <script type="text/javascript" src="https://pan.zealsay.com/family/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://pan.zealsay.com/family/static/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select\@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://pan.zealsay.com/family/static/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="https://pan.zealsay.com/family/static/js/main.min.js"></script>
{% endblock script_http %}


{% block _javascript %}

{% endblock _javascript %}



